* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(mountain_landscape16_generated.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.otp {
  height: 30rem;
  width: 40rem;
  background-color: #ffffff10;
  backdrop-filter: blur(15px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.otp__heading {
  font-size: 4rem;
  text-align: center;
  color: purple;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.otp__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.otp__btn {
  border: none;
  background: none;
  background-color: #86469c;
  padding: 1.5rem 3.5rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2rem;
}

.otp__btn:hover {
  background-color: #bc7fcd;
}

.otp__input-box {
  margin-top: 5rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid purple;
  font-size: 2rem;
  letter-spacing: 1rem;
  color: #850f8d;
  text-align: center;
}

.otp__copy {
  position: absolute;
  right: 19%;
  bottom: 12%;
  font-size: 2.5rem;
  color: purple;
  cursor: pointer;
}

.otp__copied {
  position: absolute;
  right: 6%;
  bottom: 15%;
  font-size: 1.4rem;
  color: #fff;
  transition: all 0, 3s;
}
